	---
	import Welcome from '../components/Welcome.astro';
	// import Presentation from '../components/Presentation.astro';
	import Home from '../components/Home.astro';
	import Layout from '../layouts/Layout.astro';
	import Navigation from '../module/Navigation.astro';
	import EfecctedStar from '../components/EfecctedStar.astro';
	const name = "Tomy Bautista";
	// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
	// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
	---

	<Layout title="Inicio">
		<EfecctedStar client:load />
		<section class="flex justify-center items-center">
			<div class="w-2/3  ">
				<h1 class="text-center text-6xl font-bold py-4 text-gray-200">{name}</h1>
				<div class="py-4 h-[calc(100vh-10rem)] relative">
					<Home />
				</div>

			</div>
		</section>
		
		<Navigation />
		<!-- <Welcome /> -->
	</Layout>
