@import "tailwindcss";

.bg-dark-cyan {
        background: linear-gradient(135deg, rgb(0 58 109 / 0.8), rgb(0 100 150 / 0.6));
}

.shadow-dark-cyan {
        box-shadow: 0px 0px 20px 0px rgb(0 255 255 / 59%), 0 0px 20px -1px rgb(0 255 255 / 59%);
}