---
import { Icon } from "astro-icon/components"
---
<style>
    .preload {
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        position: fixed;
        background-color: #302c2c;
        animation: opacity 1s forwards 2.9s ; 
        overflow: hidden        
    }

    #list {
        transition: transform 0.5s ease-in-out;
        transform: translateY(var(--translate-y));
    }

    @keyframes opacity {
        to {
            opacity: 0;
            visibility: hidden;
            z-index: -1;
        }
    }
</style>
<div class="preload flex flex-col justify-center items-center">
    <!-- <div class="p-4 inset-shadow-[0_0_20px_rgba(0,0,0,0.5)] rounded-lg"> -->
        <ul class="text-gray-200 flex flex-col gap-2 overflow-hidden" id="list">
            <li class="flex items-center gap-1 duration-1000">
                <Icon name="check" class="h-5 w-5" />
                Conversemos...
            </li>
            <li class="flex items-center gap-1 duration-1000">
                <Icon name="check" class="h-5 w-5" />
                Seamos amigos...</li>
            <li class="flex items-center gap-1">
                <Icon name="check" class="h-5 w-5" />
                Hagamos magia...</li>
            <li class="flex items-center gap-1">
                <Icon name="check" class="h-5 w-5" />
                Construyamos juntos...</li>
        </ul>
        <!-- </div> -->
</div>

<script >
    window.location.hash = '#Inicio';
    const list = document.getElementById('list');
    function delay() {
        return new Promise(resolve => setTimeout(resolve, 500));
    }
    async function animateList() {
        if (list) {
            for (let i = 0; i < list.children.length; i++) {
                const element = list.children[i];
                element?.classList.add('text-cyan-500');
                list?.style.setProperty('--translate-y', `-${30 * (i )}px`);
                if( i>= 2 ) {
                    list?.children[0].classList.add('opacity-50');
                    list?.children[1].classList.add('opacity-75');
                }
                await delay();
            }
        }
    }
    animateList();
</script>
