---
import { Image } from "astro:assets";

const proyects = [
  {
    title: "Sistema de Activos Fijos con generacion de QR - 2024",
    label: "Activos Fijos",
    id: "fixed",
    description:
      "Sistema para la gestion de activos fijos, con generacion de codigos QR para facilitar su identificacion y seguimiento.",
    image: "/saf.png",
    link: "#",
  },
  {
    title: "Sistema de archivo multimedia - 2023",
    label: "Archivo Multimedia",
    id: "rh",
    description:
      "Sistema para la gestion y archivo de contenido multimedia, permitiendo una organizacion eficiente y facil acceso a los recursos digitales.",
    image: "/box.png",
    link: "#",
  },
  {
    title: "Sistema de Control Biometrico - 2022",
    label: "Control Biometrico",
    id: "biometric",
    description:
      "Sistema para el control de acceso mediante tecnologia biometrica.",
    image: "/comida.png",
    link: "#",
  }
];
---
<ul class="flex flex-wrap">
  {proyects.map((proyect) => (
    <li class="proyect-card bg-dark-cyan rounded-2xl p-4 m-4 shadow-lg w-full max-w-md hover:scale-105 transition-transform duration-300 cursor-pointer">
      <img
        src={proyect.image}
        alt={proyect.title}
        class="w-full h-48 object-cover rounded-t-2xl mb-4"
      />
      <h3 class="text-xl font-bold mb-2 text-cyan-200">{proyect.title}</h3>
      {/* <p class="text-cyan-400 mb-4">{proyect.description}</p> */}
    </li>
  ))}
</ul>